@import '../../styles/variables';
$sidebarWidth: 500px;

.sidebar {
  width: $sidebarWidth;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1090;
  background: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
  transform: translateX(110%);
  box-shadow: 0 0px 20px rgba(0,0,0,0.3);

  .sidebar-header {
    height: 40px;
    background: $primaryColor;

    h2 {
      color: $secondaryColor;
    }
  }

  .sidebar-body {
    padding: 10px;
  }

  &.shown {
    transform: translateX(0);
  }
}

@media (max-width: 769px) {
  .sidebar {
    width: 100%;
  }
}